body{
    margin: 0;
    padding: 0;
     background: linear-gradient(to top, rgba(235, 99, 99, 0.5), rgba(150, 2, 2, 0.5)) center/cover, url('redd.webp') center/cover;
     background-size:cover;
}
.main{
    width: 100%;
    background-size: cover;
    height: 109vh;
}
.navbar{
     margin: auto;
     height: auto;
     width: 95%;
     margin-left: 30px;
}
.icon{
    width: 700px;
    float: left;
    height: auto;
}
.logo{
    color: rgb(48, 2, 2);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
   padding-top: 30px;
 
}
.logo-img {
    height: 50px; 
    width: auto;
    float: left;
    padding-top: 60px;
    
}
.menu{
    width: 600px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
}
ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 27px;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    color: rgb(214, 169, 169);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: rgb(26, 1, 1);
}
.search{
    width: 330px;
    float: left;
    height: auto;
    padding-top: 40px;
    margin-left: 270px;
}
.search input{
    width: 200px;
    height: 30px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    border: 2px solid rgb(214, 169, 169);
    font-size: 16px;
    padding:  8px;
    float: right;
    border-radius: 15px;
    margin-right: 2px;
}
.btn{
    width: 100%;
    height: 40px;
    background-color: rgb(214, 169, 169);
    border: 2px solid rgb(214, 169, 169);
     margin-top: 13px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    float: left;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
btn.focus{
    background-color: rgb(26, 1, 1);
    border: 2px solid rgb(26, 1, 1);
    outline: none;
}
.search input:focus{
    background-color: rgb(26, 1, 1);
    border: 2px solid rgb(26, 1, 1);
    outline: none;
}
.content{
    color: rgb(17, 1, 1);;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    width: 1200px;
    justify-content: left;
    padding-left: 100px;
    position: absolute;
    top: 40%;
    left: 20%;
}
.paragraph{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    width: 1200px;
    margin: auto;
    height: auto;
    position: relative;
    padding-left: 100px;
    padding-bottom: 25px;
    letter-spacing: 1px;
}
.content h1 {
    color:rgb(0, 0, 0);
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    padding: left 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content.content h1 span{
    color:rgb(214, 169, 169); ;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    padding: left 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.btn{
    color: rgb(7, 0, 0);
    text-decoration: none;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    padding: 45px 45px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: .3 ease;
    position: absolute ;
    top: 100%;
}
.btn:hover{
    background-color: rgb(26, 1, 1);
    color: white;
    text-decoration: none;
}
   